<% messages.forEach(message => { %>
    <div>
        <p>Od: <%= message.sender_username %></p>
        <p>Dátum: <%= message.timestamp %></p>
        <p><%= message.message_content %></p>
        <hr>
    </div>
<% }); %>