<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Post</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="w3-bar w3-light-grey">
    <a href="/" class="w3-bar-item w3-button w3-mobile">Domov</a>
    <a href="/rules" class="w3-bar-item w3-button w3-mobile">Pravidlá</a>
    <a href="/searchPage" class="w3-bar-item w3-button w3-mobile">Vyhľadávanie</a>
    <a href="/stats" class="w3-bar-item w3-button w3-mobile">Štatistiky</a>
    <a href="/register" class="w3-bar-item w3-button w3-mobile">Registrácia</a>
    <a href="/userSettings" class="w3-bar-item w3-button w3-right"><%= name %></a>
</div>
<div class="mainDiv">
    <h2>Upraviť príspevok</h2>

    <form action="/editPost/<%= post.id %>" method="post" class="w3-container" enctype="multipart/form-data">
        <textarea name="content" id="content" class="w3-input w3-margin-bottom" rows="4" required><%= post.content %></textarea>
        <input type="file" id="postPicture" name="postPicture" accept="image/*" class="w3-margin-bottom"><br>
        <button type="submit" class="w3-btn w3-blue-grey w3-margin-bottom">Uložiť</button>
    </form>

    <form action="/deletePost/<%= post.id %>" method="post" class="w3-container">
        <button type="submit" class="w3-btn w3-blue-grey w3-margin-bottom">Vymazať príspevok</button>
    </form>

</div>
</body>
</html>
