<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VAII Fórum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="w3-bar w3-light-grey">
    <a href="/" class="w3-bar-item w3-button w3-mobile w3-pale-red">Domov</a>
    <a href="/rules" class="w3-bar-item w3-button w3-mobile">Pravidlá</a>
    <a href="/searchPage" class="w3-bar-item w3-button w3-mobile">Vyhľadávanie</a>
    <a href="/stats" class="w3-bar-item w3-button w3-mobile">Štatistiky</a>
    <a href="/register" class="w3-bar-item w3-button w3-mobile">Registrácia</a>
    <a href="/userSettings" class="w3-bar-item w3-button w3-right"><%= name %></a>
</div>
<div class="mainDiv">
    <table>
        <tr>
            <th>Programovacie jazyky</th>
            <th>Témy</th>
            <th>Príspevky</th>
            <th>Posledný príspevok</th>
        </tr>
        <tr>
            <td>
                <a href="topic/php" class="tableLink">PHP</a>
                <p class="tableText">Diskusia o PHP</p>
            </td>
            <td><%= counts["php_posts"] %></td>
            <td><%= counts["php_replies"] %></td>
            <td>-</td>
        </tr>
        <tr>
            <td>
                <a href="topic/aspnet" class="tableLink">ASP.NET</a>
                <p class="tableText">Diskusia o ASP.NET</p>
            </td>
            <td><%= counts["aspnet_posts"] %></td>
            <td><%= counts["aspnet_replies"] %></td>
            <td>-</td>
        </tr>
        <tr>
            <td>
                <a href="topic/javascript" class="tableLink">JavaScript</a>
                <p class="tableText">Diskusia o JavaScripte</p>
            </td>
            <td><%= counts["javascript_posts"] %></td>
            <td><%= counts["javascript_replies"] %></td>
            <td>-</td>
        </tr>
        <tr>
            <td>
                <a href="topic/java" class="tableLink">Java</a>
                <p class="tableText">Diskusia o Jave</p>
            </td>
            <td><%= counts["java_posts"] %></td>
            <td><%= counts["java_replies"] %></td>
            <td>-</td>
        </tr>
        <tr>
            <td>
                <a href="topic/python" class="tableLink">Python</a>
                <p class="tableText">Diskusia o Pythone</p>
            </td>
            <td><%= counts["python_posts"] %></td>
            <td><%= counts["python_replies"] %></td>
            <td>-</td>
        </tr>
        <tr>
            <td>
                <a href="topic/ruby" class="tableLink">Ruby</a>
                <p class="tableText">Diskusia o Ruby</p>
            </td>
            <td><%= counts["ruby_posts"] %></td>
            <td><%= counts["ruby_replies"] %></td>
            <td>-</td>
        </tr>
        <tr>
            <td>
                <a href="topic/other" class="tableLink">Iné</a>
                <p class="tableText">Diskusia o iných programovacích jazykoch</p>
            </td>
            <td><%= counts["other_posts"] %></td>
            <td><%= counts["other_replies"] %></td>
            <td>-</td>
        </tr>
    </table>
</div>
</body>
</html>