<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VAII Fórum - Správy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/style.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
<div class="w3-bar w3-light-grey">
    <a href="/" class="w3-bar-item w3-button w3-mobile">Domov</a>
    <a href="/rules" class="w3-bar-item w3-button w3-mobile">Pravidlá</a>
    <a href="/searchPage" class="w3-bar-item w3-button w3-mobile">Vyhľadávanie</a>
    <a href="/stats" class="w3-bar-item w3-button w3-mobile">Štatistiky</a>
    <a href="/register" class="w3-bar-item w3-button w3-mobile">Registrácia</a>
    <a href="/userSettings" class="w3-bar-item w3-button w3-right w3-pale-red"><%= name %></a>
</div>
<div class="mainDiv">
    <header class="w3-container w3-light-grey w3-padding-bottom">
        <h3>Doručené</h3>
    </header>
    <div class="w3-container" id="messagesContainer">
        <% messages.forEach(message => { %>
            <div>
                <p>Od: <%= message.sender_username %></p>
                <p>Dátum: <%= message.timestamp %></p>
                <p><%= message.message_content %></p>
                <hr>
            </div>
        <% }); %>
    </div>

    <div class="w3-container w3-pale-red w3-margin-bottom">
        <h5>Napísať správu</h5>
    </div>

    <form action="/sendMessage" method="post" class="w3-container">
        <input type="text" class="w3-input w3-margin-bottom" name="recipientName" id="recipientName" placeholder="Zadajte meno príjemcu" required>
        <textarea name="message_content" class="w3-input w3-margin-bottom" id="message_content" placeholder="Zadajte správu" required></textarea>
        <button type="submit" class="w3-btn w3-blue-grey w3-margin-bottom">Odoslať</button>
    </form>
</div>
<script>
    $(document).ready(function () {
        function refreshMessages() {
            $.ajax({
                url: "/fetchMessages",
                method: "GET",
                success: function (data) {
                    $("#messagesContainer").html(data);
                },
                error: function (error) {
                    console.error("Chyba pri nacitavani sprav:", error);
                }
            });
        }

        // Call refreshMessages every 5 seconds
        setInterval(refreshMessages, 5000);
    });
</script>
</body>
</html>
