<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VAII Fórum - Registrácia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="w3-bar w3-light-grey">
    <a href="/" class="w3-bar-item w3-button w3-mobile">Domov</a>
    <a href="/rules" class="w3-bar-item w3-button w3-mobile">Pravidlá</a>
    <a href="/searchPage" class="w3-bar-item w3-button w3-mobile">Vyhľadávanie</a>
    <a href="/stats" class="w3-bar-item w3-button w3-mobile">Štatistiky</a>
    <a href="/register" class="w3-bar-item w3-button w3-mobile w3-pale-red">Registrácia</a>
    <a href="/userSettings" class="w3-bar-item w3-button w3-right"><%= name %></a>
</div>
<div class="mainDiv">
    <form action="/register" method="post" class="w3-container w3-display-middle loginForm">
        <label><b>Používateľské meno</b></label>
        <input class="w3-input w3-border w3-light-grey w3-margin-bottom" type="text" name="uname" aria-label="Panel na zadanie používateľského mena" required maxlength="45">

        <label><b>Heslo</b></label>
        <input class="w3-input w3-border w3-light-grey w3-margin-bottom" type="password" name="pw" aria-label="Panel na zadanie hesla" required>

        <button class="w3-btn w3-blue-grey">Zaregistrovať</button>
    </form>
</div>
</body>
</html>