<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VAII Fórum - Odpovede</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="w3-bar w3-light-grey">
    <a href="/" class="w3-bar-item w3-button w3-mobile">Domov</a>
    <a href="/rules" class="w3-bar-item w3-button w3-mobile">Pravidlá</a>
    <a href="/searchPage" class="w3-bar-item w3-button w3-mobile">Vyhľadávanie</a>
    <a href="/stats" class="w3-bar-item w3-button w3-mobile">Štatistiky</a>
    <a href="/register" class="w3-bar-item w3-button w3-mobile">Registrácia</a>
    <a href="/userSettings" class="w3-bar-item w3-button w3-right"><%= name %></a>
</div>
<div class="mainDiv">

    <div>
        <p><strong><%= originalPost.username %></strong> - <%= originalPost.created_at %></p>
        <p><%= originalPost.content %></p>
        <% if (originalPost.picture) { %>
            <a href="<%= originalPost.picture %>" target="_blank" class="w3-margin-bottom">
                <img src="<%= originalPost.picture %>" alt="Obrázok" style="width: 300px; height: auto;">
            </a>
            <br>
        <% } %>
    </div>

    <header class="w3-container w3-light-grey">
        <h3>Odpovede</h3>
    </header>
    <ul>
        <% replies.forEach(reply => { %>
            <li>
                <p><strong><%= reply.username %></strong> - <%= reply.created_at %></p>
                <p><%= reply.content %></p>
            </li>
        <% }); %>
    </ul>

    <% if (userId) { %>
        <div class="w3-container w3-pale-red w3-margin-bottom">
            <h5>Pridať novú odpoveď</h5>
        </div>

        <form action="/createReply/<%= originalPost.id %>" method="post" class="w3-container">
            <textarea name="content" id="replyContent" rows="4" class="w3-input w3-margin-bottom" required></textarea>
            <button type="submit" class="w3-btn w3-blue-grey w3-margin-bottom">Odoslať</button>
        </form>
    <% } %>
</div>
</body>
</html>
