<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VAII Fórum - Pravidlá fóra</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="w3-bar w3-light-grey">
    <a href="/" class="w3-bar-item w3-button w3-mobile">Domov</a>
    <a href="/rules" class="w3-bar-item w3-button w3-mobile w3-pale-red">Pravidlá</a>
    <a href="/searchPage" class="w3-bar-item w3-button w3-mobile">Vyhľadávanie</a>
    <a href="/stats" class="w3-bar-item w3-button w3-mobile">Štatistiky</a>
    <a href="/register" class="w3-bar-item w3-button w3-mobile">Registrácia</a>
    <a href="/userSettings" class="w3-bar-item w3-button w3-right"><%= name %></a>
</div>
<div class="mainDiv">
    <h3>1. Rešpektujte ostatných účastníkov:</h3>
    <ul>
        <li>Neurážajte, neprikrášľujte a neobťažujte ostatných účastníkov diskusie.</li>
        <li>Respektujte názory iných, aj keď s nimi nesúhlasíte.</li>
    </ul>
    <h3>2. Pravidlá moderovania:</h3>
    <ul>
        <li>Respektujte pokyny moderátorov a administrátorov fóra.</li>
    </ul>
    <h3>3. Bez diskriminácie a nenávisti:</h3>
    <ul>
        <li>Nepublikujte žiadne obsahy, ktoré znevažujú iné osoby na základe pohlavia, rasy, náboženstva, sexuálnej orientácie, alebo iných osobných vlastností.</li>
        <li>Nepublikujte obsah podnecujúci k nenávisti, násiliu alebo diskriminácii.</li>
    </ul>
    <h3>4. Nepublikujte nelegálny obsah:</h3>
    <ul>
        <li>Nezverejňujte žiadne nelegálne, podvádzajúce alebo škodlivé materiály alebo informácie.</li>
    </ul>
    <h3>5. Zachovajte súkromie:</h3>
    <ul>
        <li>Nezverejňujte osobné informácie iných ľudí bez ich súhlasu.</li>
    </ul>
    <h3>6. Zachovajte tématickú relevantnosť:</h3>
    <ul>
        <li>Držte sa tém diskusie a neodkláňajte sa na zbytočné vedľajšie témy.</li>
    </ul>
    <h3>7. Dodržujte autorské práva:</h3>
    <ul>
        <li>Nezverejňujte obsah, ku ktorému nemáte práva, vrátane textov, obrázkov, videí a iných materiálov.</li>
    </ul>
    <h3>8. Oznámenie o porušení pravidiel:</h3>
    <ul>
        <li>Ak narazíte na obsah, ktorý porušuje pravidlá fóra, oznámte to moderátorom alebo administrátorom.</li>
    </ul>
</div>
</body>
</html>