<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VAII Fórum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="w3-bar w3-light-grey">
    <a href="/" class="w3-bar-item w3-button w3-mobile">Domov</a>
    <a href="/rules" class="w3-bar-item w3-button w3-mobile">Pravidlá</a>
    <a href="/searchPage" class="w3-bar-item w3-button w3-mobile w3-pale-red">Vyhľadávanie</a>
    <a href="/stats" class="w3-bar-item w3-button w3-mobile">Štatistiky</a>
    <a href="/register" class="w3-bar-item w3-button w3-mobile">Registrácia</a>
    <a href="/userSettings" class="w3-bar-item w3-button w3-right"><%= name %></a>
</div>
<div class="mainDiv">
    <form id="searchForm" class="w3-container w3-margin-top">
        <input type="text" id="searchInput" class="w3-input w3-margin-bottom" required placeholder="Vyhľadávať v príspevkoch...">
        <button type="submit" class="w3-btn w3-blue-grey w3-margin-bottom">Hľadať</button>
    </form>

    <div id="searchResults"></div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#searchForm").submit(function (event) {
                event.preventDefault();

                const searchTerm = $("#searchInput").val();

                $.ajax({
                    url: `/search?q=${encodeURIComponent(searchTerm)}`,
                    method: "GET",
                    success: function (data) {
                        displaySearchResults(data);
                    },
                    error: function (error) {
                        console.error("Chyba search requestu:", error);
                    }
                });
            });

            function displaySearchResults(results) {
                const resultContainer = $("#searchResults");

                resultContainer.empty();

                if (results.length === 0) {
                    resultContainer.append("<p>Žiadne výsledky nenájdené.</p>");
                } else {
                    results.forEach(result => {
                        const link = `/replies/${result.post_id}`;

                        resultContainer.append(`<p><a href="${link}">${result.type}: ${result.content}</a></p>`);
                    });
                }
            }
        });
    </script>
</div>