<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VAII Fórum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="w3-bar w3-light-grey">
    <a href="/" class="w3-bar-item w3-button w3-mobile">Domov</a>
    <a href="/rules" class="w3-bar-item w3-button w3-mobile">Pravidlá</a>
    <a href="/searchPage" class="w3-bar-item w3-button w3-mobile">Vyhľadávanie</a>
    <a href="/stats" class="w3-bar-item w3-button w3-mobile w3-pale-red">Štatistiky</a>
    <a href="/register" class="w3-bar-item w3-button w3-mobile">Registrácia</a>
    <a href="/userSettings" class="w3-bar-item w3-button w3-right"><%= name %></a>
</div>
<div class="mainDiv">
    <h2>Štatistiky fóra</h2>

    <p>Celkový počet príspevkov: <%= totalPosts %></p>
    <p>Celkový počet odpovedí: <%= totalReplies %></p>
    <p>Celkový počet používateľov: <%= totalUsers %></p>
</div>
</body>
</html>