<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VAII Fórum</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="w3-bar w3-light-grey">
    <a href="/" class="w3-bar-item w3-button w3-mobile">Domov</a>
    <a href="/rules" class="w3-bar-item w3-button w3-mobile">Pravidlá</a>
    <a href="/searchPage" class="w3-bar-item w3-button w3-mobile">Vyhľadávanie</a>
    <a href="/stats" class="w3-bar-item w3-button w3-mobile">Štatistiky</a>
    <a href="/register" class="w3-bar-item w3-button w3-mobile">Registrácia</a>
    <a href="/userSettings" class="w3-bar-item w3-button w3-right w3-pale-red"><%= name %></a>
</div>
<div class="w3-margin">
    <h3>Ahoj <%= name %>!</h3>
    <a href="/messages">Súkromné správy</a><br>
    <a href="/deleteAccount">Vymazať účet</a><br>
    <a href="/changeUsername">Zmeniť používateľské meno</a><br>
    <a href="/logout">Odhlásiť sa</a>
</div>