body {
    background-color: white;
}

table {
    width: 100%;

}
table, th, td {
    border: 1px solid lightgray;
    border-collapse: collapse;
}

th, td {
    padding: 13px;
    text-align: left;
}

th {
    font-size: small;
    background-color: lightgray;
    color: black;
}

td {
    font-size: small;
}

th:nth-child(2) {
    text-align: center;
}

th:nth-child(3) {
    text-align: center;
}

td:nth-child(2) {
    text-align: center;
}

td:nth-child(3) {
    text-align: center;
}

.tableLink {
    font-size: medium;
    color: dodgerblue;
}

.tableText {
    margin: 0;
    font-size: smaller;
}

.mainDiv {
    margin: 10px;
    overflow-x: auto;
}

.loginForm {
    border: 1px solid lightgray;
    padding: 16px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
}

li p {
    margin: 0;
}

strong {
    color: palevioletred;
}

a {
    color: #3498db;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
}